.u-section-1 .u-sheet-1 {
  min-height: 596px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  margin: 75px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2143em;
  margin-right: 3px;
  vertical-align: 0px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-transform: none;
  font-weight: bold;
  margin: 140px auto 60px;
  padding: 25px 27px;
}

.u-section-1 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    font-weight: 700;
  }
}