.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  text-transform: none;
  margin: 80px 478px 0 auto;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2143em;
  margin-right: 8px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 184px auto 60px;
  padding: 25px 33px 25px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}