.u-section-1 .u-sheet-1 {
    min-height: 100vh; /* Yükseklik minimum ekran yüksekliği kadar olsun */
}

.u-section-1 .u-image-1 {
    width: 100%; /* Resmin genişliğini %80 olarak ayarlayabilirsiniz, istediğiniz değeri kullanın */
    height: auto;
}

.u-section-1 .u-btn-1 {
    font-size: 3rem;
    margin: 10px auto; /* Margin değerlerini ayarlayabilirsiniz */
    padding: 19px 34px;
}

@media only screen and (max-width: 600px) {
    .u-image-1 {
        width: 100%; /* Mobil ekranlarda genişlik tam ekran olsun */
    }
}

@media only screen and (min-width: 601px) {
    .u-image-1 {
        width: 100%; /* Büyük ekranlarda genişlik %80 olsun, istediğiniz değeri kullanın */
    }
}
